/* ------------------
Version Desktop +1040px
------------------*/


/* POLICES AJOUTEES */

@font-face 
{
	font-family: 'roboto';
	src: url('Police/Roboto.ttf');
}




/* MISE EN PAGE BLOCS */

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}


        #logopng
        {
            width: auto;
            max-width: 350px;
        }

    #menu
    {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
        .boutonMenu
        {
            margin: 1%;
            border: 2px solid blue ;
            width: 85px;
            height: 20px;
            text-align: center;

            font-size: 0.9em;

        }





#main
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}



    #template1
    {
        height: 23em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
       #logo2
        {
            width: 20%;
        }





    #section2
    {
        height: 40em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-left: 4em;
        padding-right: 4em;
        margin-top: -4em;
    }

        #info
        {
            flex-wrap: wrap;
            padding-left: 6em;
            padding-right: 6em;
            text-align: center;
            margin-bottom: -12em;
        }
    
        #presentation
        {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-left: 4em;
            padding-right: 4em;
            margin-bottom: -18em;
            

        }
            .pres
            {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-left: 1em;
                padding-right: 1em;

            }
     
        

                .image
                {
                    margin-bottom: -1em;
                }
            
                .titre
                {
                    margin-bottom: -2em;
                }

            
        #citation
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: 4em;
            padding-right: 4em;
            
        }
    
            figcaption
            {
                margin-top: -1.9em;
            }
        
        













footer
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}














/* MISE EN PAGE TEXTE */

body
{
    font-family: "roboto";
}

a
{
    text-decoration: none;
    color: black;
}

h1
{
    color: white;
    font-size: 1.8em;
    font-weight: lighter;
}

#presentation
{
    text-align: center;
    font-weight: 300;
    font-size: 0.8em;
}

    .titre
    {
        font-size: 1em;
        font-weight: 300;
    }

    figcaption
    {
        font-size: 0.9em;
    }






/* MISE EN PAGE IMAGES */

#template1
{
    background-image: url(image/backgroung_image.jpg) ;
    background-position: center;
    background-size: contain;
    
}











/* ANIMATIONS TEXTE */







/* MISE EN PAGE IMAGES */







/* ANIMATIONS IMAGES */





/* ANIMATIONS FORMULAIRE */





